html {scroll-behavior: smooth;}
* {box-sizing: border-box;}
/* fonts */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}
.title {}
.summary, main { font-family: "Adobe Caslon Pro", "EB Garamond", "Garamond", Georgia, serif; }

.container-fluid{
  padding:0 !important;
}
/* page layout */
body {
  margin: auto;
  
  line-height: 1.5em;
}

.article-meta, main {
	/*max-width: 600px;*/
	margin: 0 auto;
}

/* header and footer areas */
header{
  background-color: #DAE2EA;
  padding-top:2em;
}

nav{position: fixed;}

.menu {display:flex;flex-direction:column;padding: 0;}
.menu li {
	display: inline-block;
	font-weight: bold;
	text-transform: uppercase;
}
.menu a {
  text-decoration: none;
  padding: 0 0.75rem;
}
mark {
  display: inline-block;
  line-height: 0em;
  padding-bottom: 0.5em;
  background-color: #fcd800;
}
.menu, .article-meta, footer { text-align: center; }
.title {
	font-weight: normal;
	font-size: 2.3rem;
	line-height: 1.2;
	text-transform: uppercase;
}
.date {
	font-size: 1rem;
}
.summary {
	font-style: italic;
	font-size: 1.2rem;
	width: 75%;
	margin: 1.5rem auto;
}
/* footer a { text-decoration: none; } */
hr {
  border-style: dashed;
  color: #ddd;
}

/* main */
main {
	hyphens: auto;
	font-size: 1.3rem;
	line-height: 1.4;
}

/* homepage */
.homepage {
  background-color: #B5C5D5;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.homepage > h2 {
  text-align: center;
}

/* revue */
#revue {

  height: 100vh;
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  align-items: center;

}

/* links */
a, a:hover, a:visited {
	text-decoration: underline;
	color: inherit
}

/* code */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
}
code {
  font-family: "IBM Plex Mono", "Lucida Console", Monaco, monospace;
	background: #f9f9f9;
  font-size: 85%;
}
pre code { background: none; }

/* misc elements */
img, iframe, video { max-width: 100%; }
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}
table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee; }

/* drop caps */
/* <hr> applies drop cap to the next <p> */
hr+p:first-letter,
p:first-child:first-letter {
  float: left;
  font-size: 6rem;
  line-height: 0.65;
  margin: 0.1em 0.1em 0em 0;
}
main hr { display: none; }

/* bibliography */
#refs+ul {
	list-style: none;
	text-indent: -1.5em;
	padding-left: 1.5em;
}

.scroll-progress-container{
  position: fixed;
  z-index:100;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #DCDCDC;
  height: 20px;
}

.scroll-progress{
  width: 0px;
  height: 100%;
  background-color:#969696;
}

.card{
  padding:0;
  background-color: transparent;
  border: none;
  margin:0;
}

.card li{color:black;}
.card-header{background-color: transparent;padding:0;}
.card button{
  padding:0;
  margin:0.5em 0;
  color:#000;
  font-weight: 700;
  text-align: left;
}

aside{
  position: fixed;
  right:0;
  top:4em;
  z-index: 1000;
  transform: rotate(-90deg);
}

section{
  margin-top: 5em;
}

