{{ partial "header.html" . }}
<body>
	<div class="container-fluid d-flex flex-wrap align-content-between">
		{{ partial "scroll-progress" }}
		<div class="heade mt-2">
			 {{ partial "nav-article.html" . }}
		</div>
		<div class="content-imp d-flex  flex-column  justify-content-start align-items-center" >
			<main class="oue mt-5">
				<div class="hidden-on-print">
					<h1>{{ .Title | markdownify }}</h1>
					{{ .Content }}
				</div>
				{{ if (eq .Params.pagedjs true)  }}
				{{ partial "print-button.html" }}
				{{ range where .Site.Pages.ByWeight "Type" "=" "article" }}
				<div id="{{ .Params.code }}" class="print-only article">
					<h1>{{ .Title | markdownify }}</h1>
					{{ .Content }}
				</div>
				{{ end }}
				{{ end }}
			</main>
			<div class="d-flex justify-content-between oue mb-5">
				<div>
				{{ if not (eq .Params.next false)  }}
					{{ if .NextInSection }}
					<i class="fa fa-arrow-circle-left fa-lg" aria-hidden="true"></i>
					<a href="{{ .NextInSection.RelPermalink }}"><b>Précédent : <br> {{ .NextInSection.Title }}</b></a>{{ end }}
				</div>
				<div>
				{{ if .PrevInSection }}
					<i class="fa fa-arrow-circle-right fa-lg" aria-hidden="true"></i>
					<a href="{{ .PrevInSection.RelPermalink }}"><b>Suivant : <br> {{ .PrevInSection.Title }}</b></a>{{ end }}
				{{ end }}
				</div>
			</div>
		</div>
  {{ partial "footer.html" . }}
  </div>
</body>
</html>
