{{ partial "head_custom.html" . }}
<div class="container-fluid d-flex">
  <div class="heade">
     {{partial "nav-article.html" . }}
  </div>
 
  <div class="content-imp d-flex" style="display: flex;">
    <main class="oue mt-5">
      {{ .Content }}
    </main>
  </div>

</div>
{{ partial "footer.html" . }}

<!--{{ partial "header.html" . }}
{{ partial "scroll-progress" }}

<section class="head">


<main>
{{ .Content }}
</main>

<hr>
<div class="d-flex justify-content-between">
  <div>
    <i class="fa fa-arrow-circle-left fa-lg" aria-hidden="true"></i><b>
    {{ if .PrevInSection }}Précédent :</b><br/>
    <a href="{{ .PrevInSection.RelPermalink }}">{{ .PrevInSection.Title }}</a>{{ end }}
  </div>
  <div>
    <i class="fa fa-arrow-circle-right fa-lg" aria-hidden="true"></i><b>
    {{ if .NextInSection }}Suivant :</b><br/>
    <a href="{{ .NextInSection.RelPermalink }}">{{ .NextInSection.Title }}</a>{{ end }}
  </div>
</div>
</section>
</div>
{{ partial "footer.html" . }}
</section>-->