<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "/css/button.css" | relURL }}" />
    <link rel="shortcut icon" href="img/reticulum.ico">
    {{ partial "pagedjs-header.html" . }}
  </head>

  <body>
    {{ partial "scroll-progress" }}
    <div class="container-fluid d-flex">
    <header class="col-3">
    <nav>

    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Introduction
            </button>
          </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <ul class="card-body">
            <li><a href="#chap1-art1">Article 1</a></li>
            <li><a href="#chap1-art2">Article 2</a></li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              CHAPITRE 2 :<br/>Une entrée en matière
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <ul class="card-body">
            <li><a href="#chap2-art1">Article 1</a></li>
            <li><a href="#chap2-art2">Article 2</a></li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              CHAPITRE 3 :<br/>Pratiques réticulaires en design
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <ul class="card-body">
            <li><a href="#chap3-art1">Article 1</a></li>
            <li><a href="#chap3-art2">Article 2</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="mt-4">
      <input id="search" type="text" placeholder="Entrer le code" value="" />
      <input id="btn-search" type="button" value="Go" />
    </div>

<!--
    <ul class="menu">
      {{ range .Site.Menus.main }}
      <li><a href="{{ .URL | relURL }}"><mark>{{ .Name }}</mark></a></li>
      {{ end }}
    	{{ if (eq .Params.pagedjs true)  }}
      {{ partial "print-button.html" }}
      {{ end }}
    </ul>
    <hr/>
    </nav>

    <section class="button-list">
      {{ if (eq .Params.buttons true)  }}
      {{ partial "button-list.html" }}
      {{ end }}
    </section>
-->



    </header>
