<body>

<nav class="navArticle">
<div class="text-center my-4">
<a href="/">
<svg xmlns="http://www.w3.org/2000/svg" width="29.16" height="51.984" viewBox="0 0 29.16 51.984">
  <g id="logo_R" data-name="logo R" transform="translate(-26.04 -19.016)">
    <path id="Tracé_3" data-name="Tracé 3" d="M26.04,19.016H37.7a17.379,17.379,0,0,1,8.856,32.4l8.64,19.3-.216.072V71h-5.76v-.216l-.216.072L41.232,53.432a18.907,18.907,0,0,1-3.528.36H32.16V71H26.04Zm18,26.712A11.256,11.256,0,0,0,37.7,25.136h-2.88ZM32.16,47.672H37.7a4.105,4.105,0,0,0,.936-.072L32.16,33.056Z"/>
  </g>
</svg>
</a>
</div>
    <ul class="menu">
		{{ range .Site.Menus.main }}
        <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
		{{ end }}
    </ul>

	{{ if not (eq .Params.pagedjs true)  }}
    <div class="d-flex">
        <input id="search" type="text" placeholder="Entrer le code" value="" />
        <input id="btn-search" type="button" value="OK" />
    </div>

    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne">
                        Introduction<i class="fa fa-sort-down"></i>
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <ul class="card-body">
                    <li><a href="/0-editorial">Éditorial</a></li>
                    <li><a href="/1-concepts">Concepts clefs</a></li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                        aria-expanded="false" aria-controls="collapseTwo">
                        Une entrée en matière<i class="fa fa-sort-down"></i>
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <ul class="card-body">
                    <li><a href="/2-prototypage">Prototypage d’une revue</a></li>
                    <li><a href="/3-hyper">Le préfixe hyper et le paradigme du réseau</a></li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                        aria-expanded="false" aria-controls="collapseThree">
                        Pratiques réticulaires en design<i class="fa fa-sort-down"></i>
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <ul class="card-body">
                    <li><a href="/4-collectif">Le collectif : le projet des aidants</a></li>
                    <li><a href="/5-efficacite">Efficacité et pertinence : le workshop Objets connectés</a></li>
                    <li><a href="/6-collaboration">La collaboration entre designers et ingénieurs</a></li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingFour">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
                        aria-expanded="false" aria-controls="collapseFour">
                        La réticularité envahit notre quotidien<i class="fa fa-sort-down"></i>
                    </button>
                </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                <ul class="card-body">
                    <li><a href="/7-travail">Travailler en réseau en temps de Covid</a></li>
                </ul>
            </div>
        </div>
    </div>

  {{ end }}

</nav>

<section class="button-list">
    {{ if (eq .Params.buttons true)  }}
    {{ partial "button-list.html" }}
    {{ end }}
</section>

<aside>

    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 40 40" id="blackmode">
      <g transform="translate(-41 -14)">
        <path id="Tracé_3" data-name="Tracé 3" d="M75.147,39.853,81,34l-5.853-5.853V19.853H66.853L61,14l-5.853,5.853H46.853v8.294L41,34l5.853,5.853v8.294h8.294L61,54l5.853-5.853h8.294ZM61,44.61V23.39a10.61,10.61,0,0,1,0,21.22Z" fill="#101010"/>
      </g>
    </svg>

    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="30" viewBox="0 0 30 40" id="normal">
      <g id="icones-nuit" transform="translate(-24 -29)">
        <path id="Tracé_3" data-name="Tracé 3" d="M34,29a19.947,19.947,0,0,0-10,2.7,19.965,19.965,0,0,1,0,34.6A19.992,19.992,0,1,0,34,29Z" fill="#101010"/>
      </g>
    </svg>

    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="23.254" viewBox="0 0 40 23.254" id="reduce">
      <g id="icones-moins" transform="translate(-32 -52)">
        <path id="Tracé_3" data-name="Tracé 3" d="M63,52h9v1.5H63Z" fill="#101010"/>
        <path id="Tracé_4" data-name="Tracé 4" d="M45.7,75l-1.346-4.418H37.586L36.24,75H32l6.551-18.637h4.812L49.938,75Zm-2.285-7.719q-1.866-6-2.107-6.792t-.33-1.244q-.419,1.625-2.4,8.036ZM61,75l-.749-1.93h-.1a5.766,5.766,0,0,1-2.019,1.714,6.536,6.536,0,0,1-2.691.47,4.384,4.384,0,0,1-3.225-1.168,4.5,4.5,0,0,1-1.168-3.326,3.734,3.734,0,0,1,1.574-3.326,9.15,9.15,0,0,1,4.773-1.193l2.463-.076v-.622a1.93,1.93,0,0,0-2.209-2.158,10.067,10.067,0,0,0-4,1.028L52.363,61.8A11.539,11.539,0,0,1,57.8,60.515a6.769,6.769,0,0,1,4.38,1.244A4.6,4.6,0,0,1,63.7,65.542V75Zm-1.143-6.576-1.5.051a4.8,4.8,0,0,0-2.514.609,1.914,1.914,0,0,0-.825,1.7q0,1.638,1.879,1.638a2.953,2.953,0,0,0,2.146-.774,2.709,2.709,0,0,0,.813-2.057Z"/>
      </g>
    </svg>

    <svg xmlns="http://www.w3.org/2000/svg" width="40.087" height="28.613" viewBox="0 0 40.087 28.613" id="grow">
      <g id="icones-plus" transform="translate(-40 -38.641)">
        <path id="Tracé_3" data-name="Tracé 3" d="M53.7,67l-1.346-4.418H45.586L44.24,67H40l6.551-18.637h4.812L57.938,67Zm-2.285-7.719q-1.866-6-2.107-6.792t-.33-1.244q-.419,1.625-2.4,8.036ZM69,67l-.749-1.93h-.1a5.766,5.766,0,0,1-2.019,1.714,6.536,6.536,0,0,1-2.691.47,4.384,4.384,0,0,1-3.225-1.168,4.5,4.5,0,0,1-1.168-3.326,3.734,3.734,0,0,1,1.574-3.326,9.15,9.15,0,0,1,4.773-1.193l2.463-.076v-.622a1.93,1.93,0,0,0-2.209-2.158,10.067,10.067,0,0,0-4,1.028L60.363,53.8A11.539,11.539,0,0,1,65.8,52.515a6.769,6.769,0,0,1,4.38,1.244A4.6,4.6,0,0,1,71.7,57.542V67Zm-1.143-6.576-1.5.051a4.8,4.8,0,0,0-2.514.609,1.914,1.914,0,0,0-.825,1.7q0,1.638,1.879,1.638a2.953,2.953,0,0,0,2.146-.774,2.709,2.709,0,0,0,.813-2.057Z"/>
        <path id="Tracé_4" data-name="Tracé 4" d="M80.087,45V43.723H75.005V38.641H73.723v5.082H68.641V45h5.082v5.082h1.282V45Z" fill="#101010"/>
      </g>
    </svg>
        </aside>
