<ul class="menu">
		{{ range .Site.Menus.main }}
        <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
		{{ end }}
    </ul>

	{{ if not (eq .Params.pagedjs true)  }}
    <div>
        <input id="search" type="text" placeholder="Entrer le code" value="" />
        <input id="btn-search" type="button" value="OK" />
    </div>

    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne">
                        Introduction<i class="fa fa-sort-down"></i>
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <ul class="card-body">
                    <li><a href="/0-editorial">Éditorial</a></li>
                    <li><a href="/1-concepts">Concepts clefs</a></li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                        aria-expanded="false" aria-controls="collapseTwo">
                        Une entrée en matière<i class="fa fa-sort-down"></i>
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <ul class="card-body">
                    <li><a href="/2-prototypage">Prototypage d’une revue</a></li>
                    <li><a href="/3-hyper">Le préfixe hyper et le paradigme du réseau</a></li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                        aria-expanded="false" aria-controls="collapseThree">
                        Pratiques réticulaires en design<i class="fa fa-sort-down"></i>
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <ul class="card-body">
                    <li><a href="/4-collectif">Le collectif : le projet des aidants</a></li>
                    <li><a href="/5-efficacite">Efficacité et pertinence : le workshop Objets connectés</a></li>
                    <li><a href="/6-collaboration">La collaboration entre designers et ingénieurs</a></li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingFour">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
                        aria-expanded="false" aria-controls="collapseFour">
                        La réticularité envahit notre quotidien<i class="fa fa-sort-down"></i>
                    </button>
                </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                <ul class="card-body">
                    <li><a href="/7-travail">Travailler en réseau en temps de Covid</a></li>
                </ul>
            </div>
        </div>
    </div>
    
  {{ end }}