
        <nav  class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">
                  
                  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                      {{ range .Site.Menus.main }}
                      <a class="nav-link active" style="text-decoration: none !important;" aria-current="page" href="{{ .URL | relURL }}">{{ .Name }}</a>
        							{{ end }}
                    </div>
                  </div>
                </div>
              </nav>

              <aside>
                    <button class="btn btn-secondary" id="clickme">Accessibilité</button>
                    <button class="btn btn-secondary" id="normal">Mode normal</button>
                  </aside>