<nav>

    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne">
                        Introduction
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <ul class="card-body">
                    <li><a href="#chap1-art1">Article 1</a></li>
                    <li><a href="#chap1-art2">Article 2</a></li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                        aria-expanded="false" aria-controls="collapseTwo">
                        CHAPITRE 2 :<br />Une entrée en matière
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <ul class="card-body">
                    <li><a href="#chap2-art1">Article 1</a></li>
                    <li><a href="#chap2-art2">Article 2</a></li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                        aria-expanded="false" aria-controls="collapseThree">
                        CHAPITRE 3 :<br />Pratiques réticulaires en design
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <ul class="card-body">
                    <li><a href="#chap3-art1">Article 1</a></li>
                    <li><a href="#chap3-art2">Article 2</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div>
        <input id="search" type="text" placeholder="Entrer le code" value="" />
        <input id="btn-search" type="button" value="Accéder" />
    </div>


    <ul class="menu">
        {{ range .Site.Menus.main }}
        <li><a href="{{ .URL | relURL }}"><mark>{{ .Name }}</mark></a></li>
        {{ end }}
        {{ if (eq .Params.pagedjs true)  }}
        {{ partial "print-button.html" }}
        {{ end }}
    </ul>
    <hr />
</nav>

<section class="button-list">
    {{ if (eq .Params.buttons true)  }}
    {{ partial "button-list.html" }}
    {{ end }}
</section>

<aside>
    <button class="btn btn-secondary" id="clickme">Accessibilité</button>
    <button class="btn btn-secondary" id="normal">Mode normal</button>
</aside>