/* paged.js interface  */
@media screen {
#print {
/*     position: fixed; */
    z-index: 20000;
    background: gray;
/*     fill: white; */
/*     color: white; */
    margin: 0.5em;
    border-radius: 5px;
/*     right: 30px; */
/*     top: 30px; */
  }
}

@media print {
  #print {
    display: none;
  }
}
  