/* paged.js style example*/
@media print {

  /* Visibilité */
  hr, header, nav, button, aside, h1.title, footer, .scroll-progress-container, .scroll-progress, .heade {
    display: none
  }

  #nexti {
    display: none
  }

  .article {
    column-count: 2;
    column-gap: 5mm;
  }

  /* Titre courant */

  h1 {
    string-set: title content(text);
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 24pt;
    letter-spacing: 0px;
    word-spacing: 0px;
  }

  h2 {
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 16pt;
    letter-spacing: 0px;
    word-spacing: 0px;
  }

  /* Paragraphes */

  p, ul {
    font-size: 10pt;
    line-height: 12pt;
    hyphens: auto;
  }

  ul {
    padding-inline-start: 32px;
  }

  .content-imp {
    width: 100%;
  }

  .oue {
    width: 100%;
    margin-top: 0!important;
  }

  .hidden-on-print {
    display: none;
  }

  .print-only {
    display: block;
  }

  @page {
    size: A4;
    margin: 20mm 30mm;

		@bottom-center {
      content: counter(page);
  	}

    @top-right {
      font-size: 0.7em;
    }

    @top-left {
      content: string(title);
      font-size: 0.9em;
      font-family: "Lato";
      font-variant: small-caps;
      max-width: 300px;
    }
  }
  @page:left {
      margin-left: 20mm;
      margin-right: 15mm;
  }
  @page:right {
      margin-left: 15mm;
      margin-right: 20mm;
  }
}
