/* paged.js style example*/
@media print {

  /* Visibilité */
  hr, header, nav, button, aside, h1.title, footer, .scroll-progress-container, .scroll-progress, .heade {
    display: none
  }

  /* Reset de bootstrap */

  body {
    min-width: auto!important;
  }

  #nexti {
    display: none
  }

  .article {
    column-count: 2;
    column-gap: 5mm;
    break-after: page
  }

  .article h1 {
    string-set: title content(text);
  }

  /* Ajout des parties */

  #editorial::before{
    content: "PARTIE 1 : Introduction";
    display: block;
    color: #666;
	  font-weight: bold;
  }

  #prototypage::before{
    content: "PARTIE 2 : Une entrée en matière";
    display: block;
    color: #666;
    font-weight: bold;
  }

  #collectif::before{
    content: "PARTIE 3 : Pratiques réticulaires en design";
    display: block;
    color: #666;
    font-weight: bold;
  }

  #travail::before{
    content: "PARTIE 4 : La réticularité dans notre quotidien";
    display: block;
    color: #666;
    font-weight: bold;
  }

  /* Titre courant */

  h1 {
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 24pt;
    letter-spacing: 0px;
    word-spacing: 0px;
  }

  h2 {
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 16pt;
    letter-spacing: 0px;
    word-spacing: 0px;
  }

  h3 {
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 12pt;
    letter-spacing: 0px;
    word-spacing: 0px;
  }

  h2#bibliographie {
    display: none;
  }

  h2#bibliographie + ul {
    display: none;
  }

  /* Paragraphes */

  p, ul {
    font-size: 10pt;
    line-height: 12pt;
    hyphens: auto;
  }

  ul {
    padding-inline-start: 12px;
  }

  .content-imp {
    width: 100%;
  }

  .oue {
    width: 100%;
    margin-top: 0!important;
  }

  .hidden-on-print {
    display: none;
  }

  .print-only {
    display: block;
  }

  @page {
    size: 210mm 297mm; /* ou A4 */
    margin-top: 30mm;
    margin-bottom: 20mm;
    bleeds: 0;

    @top-right {
      font-size: 0.7em;
    }
  }
  @page:left {
      margin-left: 20mm;
      margin-right: 15mm;
      @bottom-left-corner {
        content: counter(page);
        font-family: "Lato Bold"
    	}
      @top-left {
        content: string(title);
        font-size: 0.9em;
        font-family: "Lato";
        font-variant: small-caps;
      }
  }
  @page:right {
      margin-left: 15mm;
      margin-right: 20mm;
      @bottom-right-corner {
        content: counter(page);
        font-family: "Lato Bold"
    	}
      @top-right {
        content: string(title);
        font-size: 0.9em;
        font-family: "Lato";
        font-variant: small-caps;
      }
  }
}
