<svg id="123" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 526.92 483.82">
    <defs>
        <style>
            .st1231,
            .st12310,
            .st1235,
            .st1239 {
                fill: none;
                stroke-miterlimit: 10;
            }

            .st1231 {
                stroke: #000;
                stroke-width: 4px;
            }

            .st1232 {
                font-size: 17.63px;
            }

            .st1232,
            .st1237 {
                fill: #fff;
                font-family: OpenSans-Bold, Open Sans;
                font-weight: 700;
            }

            .st1233 {
                font-size: 12.54px;
            }

            .st1234 {
                fill: #231f20;
            }

            .st1235 {
                stroke: #467096;
            }

            .st12310,
            .st1235,
            .st1239 {
                stroke-width: 3px;
            }

            .st1236 {
                fill: #467096;
            }

            .st1237 {
                font-size: 20px;
            }

            .st1238 {
                fill: #98728c;
            }

            .st1239 {
                stroke: #98728c;
            }

            .st12310 {
                stroke: #f3caba;
            }

            .st12311 {
                fill: #f3caba;
            }
        </style>
    </defs>
    <title>schema 5</title>
    <g id="_1.rond_principal" data-name="1.rond principal">
        <path class="st1231" d="M588,274.83A166,166,0,1,1,422.05,108.88,166,166,0,0,1,588,274.83Z"
            transform="translate(-158.59 -90.48)" />
        <path d="M498.84,274.83A76.8,76.8,0,1,1,422.05,198,76.79,76.79,0,0,1,498.84,274.83Z"
            transform="translate(-158.59 -90.48)" />
        <text class="st1232" transform="translate(209 162.16)">CONTENUS /<tspan x="6.97" y="21.16">DISPOSITIF </tspan>
            <tspan x="43" y="42.31">DE </tspan>
            <tspan class="st1233">
                <tspan x="-1.07" y="57.37">COMPREHENSION</tspan>
            </tspan>
            <tspan x="54.46" y="78.52"> </tspan>
        </text>
    </g>
    <g id="curseur">
        <g id="Calque_2" data-name="Calque 2">
            <g id="Calque_1-2" data-name="Calque 1-2">
                <g id="CURSEURS">
                    <path class="st1234"
                        d="M420.89,182l6.28-.08a2.72,2.72,0,0,1,2.74,2.7,2.66,2.66,0,0,1-.34,1.35l-3.06,5.45-3.06,5.45a2.7,2.7,0,0,1-4.71.05l-3.19-5.37-3.19-5.37a2.72,2.72,0,0,1,.95-3.73,2.81,2.81,0,0,1,1.36-.38Z"
                        transform="translate(-158.59 -90.48)" />
                </g>
            </g>
        </g>
    </g>
    <g id="_2.Structure" data-name="2.Structure">
        <g>
            <line class="st1235" x1="87.82" y1="87.82" x2="189.01" y2="143.99" />
            <polygon class="st1236"
                points="181.32 145.54 188.24 143.56 186.26 136.65 190.03 138.74 192.01 145.66 185.09 147.64 181.32 145.54" />
        </g>
        <path class="st1236" d="M334.23,178.3a87.82,87.82,0,1,1-87.82-87.82A87.82,87.82,0,0,1,334.23,178.3Z"
            transform="translate(-158.59 -90.48)" />
        <text class="st1237" transform="translate(27.51 66.13)">Structure et <tspan x="-2.42" y="24">organise des
            </tspan>
            <tspan x="-4.9" y="48">informations</tspan>
            <tspan x="60.31" y="72"> </tspan>
        </text>
    </g>
    <g id="_3.Integrer" data-name="3.Integrer">
        <path class="st1238" d="M509.87,475.26a87.82,87.82,0,1,1-87.82-87.82A87.82,87.82,0,0,1,509.87,475.26Z"
            transform="translate(-158.59 -90.48)" />
        <text class="st1232" transform="translate(216.95 333.54)">Intégre les <tspan x="-7.61" y="21.16">principes du
            </tspan>
            <tspan x="-6.53" y="42.31">design et de </tspan>
            <tspan x="-20.45" y="63.47">l’architecture à </tspan>
            <tspan x="9.02" y="84.63">l’univers </tspan>
            <tspan x="-2.22" y="105.78">numérique</tspan>
            <tspan x="46.51" y="126.94"> </tspan>
        </text>
        <g>
            <line class="st1239" x1="263.46" y1="296.96" x2="263.46" y2="273.77" />
            <polygon class="st1238"
                points="268.54 279.74 263.46 274.65 258.37 279.74 258.37 275.42 263.46 270.34 268.54 275.42 268.54 279.74" />
        </g>
    </g>
    <g id="_4.Methodolgies" data-name="4.Methodolgies">
        <g>
            <line class="st12310" x1="439.09" y1="84.84" x2="338.87" y2="141.69" />
            <polygon class="st12311"
                points="341.56 134.31 339.64 141.25 346.57 143.16 342.82 145.29 335.89 143.38 337.8 136.45 341.56 134.31" />
        </g>
        <path class="st12311" d="M685.51,178.3a87.82,87.82,0,1,1-87.82-87.82A87.82,87.82,0,0,1,685.51,178.3Z"
            transform="translate(-158.59 -90.48)" />
        <text class="st1237" transform="translate(365.31 57.44)">Méthodologies <tspan x="2.08" y="24">d’organisation
            </tspan>
            <tspan x="48.7" y="48">et de </tspan>
            <tspan x="-1.85" y="72">nomenclatures</tspan>
            <tspan x="73.78" y="96"> </tspan>
        </text>
    </g>
</svg>

<script>
(function() {
const svg = document.getElementById('123').querySelector('svg');

svg.querySelector('#curseur path').classList.add('bounce-bottom');

const elts = [
    svg.getElementById('_2.Structure'),
    svg.getElementById('_3.Integrer'),
    svg.getElementById('_4.Methodolgies')
];

elts.forEach(elt => elt.style.display = 'none')

svg.getElementById('_1.rond_principal').addEventListener('click', () => {
    elts[0].style.display = null;

    let i = 1;
    const time = setInterval(() => {
        elts[i].style.display = null;

        i++;

        if (i === elts.length) { clearInterval(time); }
    }, 1000);
});
})()
</script>